@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p id="lead" class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><button onclick="subscribe()" class="btn btn-primary btn-lg">Learn more &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="/Download" method="get">
            <h2>Getting started</h2>
            <input name="url" />
            <p><button class="btn btn-default" type="submit">Learn more &raquo;</button></p>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/Home/Reset">Reset Account &raquo;</a></p>
    </div>
</div>
<form action="/email" method="post">
    <label for="email">Người nhận</label>
    <input type="email" name="email" value="" />
    <label for="subject">Tiêu đề</label>
    <input type="text" name="subject" value="" />
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        This is my textarea to be replaced with CKEditor 4.
    </textarea>
    <input type="submit" value="Gửi mail" />
</form>
<script src="~/sw.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./sw.js').then((registration) => {
            console.log('ServiceWorker successful, scope: ', registration.scope);
        }).catch((err) => {
            document.getElementById("lead").innerHTML = err;
            console.log('ServiceWorker failed: ', err);
        });
    } else {
        document.getElementById("lead").innerHTML = "no";
    }

    addEventListener('load', async () => {
        try {
            let sw = await navigator.serviceWorker.register('./sw.js', {
                scope: '/'
            });
            console.log(sw);
        } catch (e) {
            //document.getElementById("lead").innerHTML = e;
        }
    })

    async function subscribe() {
        let sw = await navigator.serviceWorker.ready;
        console.log(sw)
        //let push = await
        sw.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey:
                'BMEf2HHXX9p2gOV9FCn5Ds6sLjYFxEoyctGqh73PfzhUSg_I2MuoyxABXR6EWHLBPdVsup61nAfR1-nEQC2yGYM'
        }).then(function (sub) {
            document.getElementById("lead").innerHTML = JSON.stringify(sub);
            console.log(JSON.stringify(sub))
        })
        //console.log(JSON.stringify(push));
    }
</script>
